
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Today's Date</title>
</head>

<body>
    <div class="input-group">
        <label><b>username</b></label>
        <br>
        <input type="text" id="username">
        <br>
        <label><b>password</b></label>
        <br>
        <input type="password" id="password">
    </div>
    <button type="button" id="submit" class="btn-submit" onclick=read()>
    submit</button>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
