
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
    <div>
        <div >
            <label id="title">Hello!!!!</label> 
        </div>
        <div>
            <button id="go-delete">delete</button>
            <button id="logout">logout</button>
        </div>
    </div>
    <div style="margin:auto">
        <input id="search_content" style="width:200px; height:30px; margin:auto"/>
        <button id="search">search</button>
        <input id="subscribe_content" style="width:200px; height:30px; margin:auto"/>
        <button id="subscribe">subscribe</button>
    </div>
    <div id="chat-box"  style="height:300px; width:500px; overflow:auto; margin:auto" >
        <p id="content"><b>Tweets</p>
    </div>

    <div id="chat-form">
    <textarea placeholder="Your Tweet Content" id="tweetContent"></textarea>
    <button id="post">Post</button>
    </div>
</body>
</html>
