
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>

<body>
    <div>
        <div >
            <label id="title">Hello!!!!</label> 
        </div>
        <div>
            <button id="go-delete">delete</button>
            <button id="logout">logout</button>
        </div>
    </div>
    <div>
        <input id="search_content"/>
        <button id="search">search</button>
    </div>
    <div id="chat-box">
        <p id="content"><b>hhh</p>
    </div>

    <div id="chat-form">
    <textarea placeholder="Your Tweet Content" id="tweetContent"></textarea>
    <button id="post">Post</button>
    </div>
</body>
</html>
